*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --brand-color-background_dark: #2f303a;
  --brand-color-background-light-grey: #e5e5e5;
  --brand-color-background-medium-grey: #f5f4fa;
  --brand-color-blue: #2196f3;
  --brand-color-tekst: #757575;
  --brand-color-header: #212121;
  --brand-font-primary: "Roboto", sans-serif;
  --brand-font-secondary: "Raleway", sans-serif;
  --gap: 30px;
}

body {
  font-family: var(--brand-font-primary);
  color: var(--brand-color-tekst);
}
.h {
  color: var(--brand-color-header);
}
.logo {
  color: black;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  text-decoration: none;
  font-size: 26px;
  line-height: 31px;
}
.logo > span {
  color: var(--brand-color-blue);
}
.link-menu {
  color: var(--brand-color-tekst);
  display: inline-block;
  margin-right: 10px;
  text-decoration: none;
  list-style-type: none;
  height: 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  border: 1px dashed #212121;
}
.link-menu:active,
.link-menu:hover {
  color: var(--brand-color-blue);
}
.link-footer {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  list-style-type: none;
  height: 16px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  font-style: normal;
  border: 1px dashed #212121;
}
.h1 {
  color: white;
  text-decoration: none;
  padding-left: 452;
  padding-right: 452;
  padding-top: 200;
  padding-bottom: 280;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-align: center;
  border: 1px dashed #212121;
}
.h2 {
  color: var(--brand-color-header);
  height: 42px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  border: 1px dashed #2196f3;
}
.h3 {
  color: var(--brand-color-header);
  height: 16px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  border: 1px dashed #2433d6;
}
.second-h3 {
  color: var(--brand-color-header);
  height: 19px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  text-align: center;
}
.text {
  color: var(--brand-color-tekst);
  height: 75px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}
.second-text {
  color: var(--brand-color-tekst);
  height: 19px;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  text-align: center;
}
.button {
  background-color: var(--brand-color-blue);
  font-family: var(--brand-font-primary);
  font-weight: 700;
  font-size: 16px;
  line-height: 2.6;
  color: #ffffff;
  text-align: center;
  border: none;
  border-radius: 4px;
  padding: 10px 42px 10px 42px;
  cursor: pointer;
  margin-right: auto;
  margin-left: auto;
}
.button:active,
.button:focus {
  background-color: #ffffff;
  color: var(--brand-color-background_dark);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.button-portfolio {
  text-align: center;
  background-color: var(--brand-color-background-light-grey);
  font-family: var(--brand-font-primary);
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  border: none;
  padding: 10px 42px 10px 42px;
  border-radius: 4px;
  color: var(--brand-color-header);
  cursor: pointer;
}
.button-portfolio:hover {
  background-color: var(--brand-color-blue);
  color: #ffffff;
  padding: 10px 42px 10px 42px;
}

.button-portfolio:active,
.button-portfolio:focus {
  background-color: var(--brand-color-blue);
  color: #ffffff;
  padding: 10px 42px 10px 42px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.adress {
  text-decoration: none;
  font-family: var(--brand-font-primary);
  font-size: 14px;
  line-height: 24px;
  color: white;
  cursor: default;
  font-style: normal;
}
.logo-footer {
  color: white;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  text-decoration: none;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}
.logo-footer > span {
  color: var(--brand-color-blue);
}
.top_section {
  background-color: var(--brand-color-background_dark);
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  padding-top: 200px;
  padding-left: 452px;
  padding-right: 452px;
  padding-bottom: 280px;
}
.header-container {
  display: inline-flex;
}
.container-lorem {
  padding-top: 94px;
  display: flex;
  flex-wrap: wrap;
}
.grid-item {
  flex-basis: calc((100% - 90px) / 4);
}
.container-galeria {
  padding-top: 94px;
}
.footer {
  background-color: var(--brand-color-background_dark);
  padding-left: 215px;
  padding-top: 60px;
}
.footer-container {
  width: 1200px;
  display: inline-block;
  align-items: center;
}
.header-container {
  width: 1200px;
  max-height: 80;
  display: flex;
  align-items: center;
}
.container-zespol {
  background-color: var(--brand-color-background-medium-grey);
  padding-top: 94px;
}
.menu {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}
.menu-2 {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  align-items: ;
}
.text-card-set {
  list-style: none;
  display: inline-flex;
}
.picture-card-set {
  list-style: none;
  display: inline-flex;
}
.picture-card-decoration {
  justify-content: space-between;
}
